<% content_for(:title, "Joss Monster | Skill") %>

<h1 class="main-title"><%= @skill.name %></h1>



<p><%= link_to "Edit Skill", edit_skill_path(@skill) %></li>
<p><%= link_to "Delete Skill", skill_path(@skill),
                    :data => {:confirm => "Confirm?",
                    :method => "delete"} %></p>



<% if @skill.projects.any? %>
  <h4 class="sub-title">Related Projects:</h4>

  <ul class="project-list">
    <% @skill.projects.each do |project| %>
      <li class="project-items">
        <%= link_to project.title, skill_project_path(@skill, project)%>
        <span class="btn-default"><%= link_to "Edit", edit_skill_project_path(@skill, project) %></span>
        <span class="btn-default"><%= link_to "Delete", skill_project_path(@skill, project),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %></span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects yet!</p>
<% end %>

<p><%= link_to "Add a Project", new_skill_project_path(@skill) %></p>


<p><%= link_to "Return to skills", skills_path %></p>

