<% content_for :title, "Joss Monster | Post Page" %>

<div class="row">
	<div class="col-lg-12">

	<h3><%= @post.title %></h3>
	<img class="responsive center-block" src="http://placehold.it/400x400" alt="post-picture">
	<p><%= @post.body %></p>
	<p>By: <%= @post.user.name %></p>

<% if current_user && current_user.admin? %>
	<p><%= link_to "Edit", edit_post_path(@post) %></p>
	<p><%= link_to "Delete Post", post_path(@post),
                          :data => {:confirm => "Confirm?",
                          :method => "delete"} %></p>
<% end %>

<div class="comments">
	

<h4 class="comment-count"><%= pluralize(@post.comments.count, "Comment") %></h4>
				<% @comments.each do |comment| %>
				<p class="comment-name"><%= comment.user.name %></p>
				<p><%= link_to comment.content, post_comment_path(@post, comment) %></p>
				<% end %>
				<% if user_signed_in? %>
				<%= render 'comments/form' %>
				<% end %>
</div>


<p><%= link_to "All Posts", posts_path %></p>
<p><%= link_to "Home", skills_path %></p>
	</div><!-- end of col-12 -->
</div><!-- end or row 1 -->