<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
      <div class="container">
        <div class="navbar-header">

          <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <a href="/skills" class="navbar-brand">Jocelyn Alsdorf | Portfolio</a>

        </div><!-- end of navbar header div -->
        <div class="collapse navbar-collapse" id="navbar-collapse">

          <ul class="nav navbar-nav">
            <li><a href="#">Contact Me</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="session-info">Logged in as<%= link_to current_user.name, edit_user_registration_path %></li>
              <li class="session-info"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
             <li class="session-info"><%= link_to "Sign in", new_user_session_path, class: "button"%> or 
             <%= link_to "Sign Up", new_user_registration_path, class: "button" %></li>
            <% end %>
          </ul>

        </div><!-- end of nav that contains ul links -->
      </div><!--end of nav container -->
    </nav><!-- End navbar -->
<div class="container">
	 <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<%= yield %>
</div>
</body>
</html>    
